
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar{
  width:0px;
  fill:transparent;
  background:transparent;
}
.splashscreen{
  height:100vh;
  width:100%;
  padding:0px;
  background:black;
  z-index: -1;
  opacity:0;
  position:absolute;
  animation:fadeout 4.5s ease-out;
}
img,div,span,a{
  user-select: none;
 
}

@keyframes fadeout{
  0%,60%{
    display:flex;
    opacity:1;
    z-index:1000;

  }
  100%{
    z-index: -1;
    opacity:0
  }
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding:0;
  background:rgb(14, 14, 16);

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.authpage{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  background:black;
}
.myform{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.mask{
  filter:brightness(300%);
  -webkit-mask-image:repeating-linear-gradient(135deg,#0000 40%, #000 40%,#000 50%, #0000 5%, #0000 75%,#0000 100%);
  -webkit-mask-size:900 900;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: -170px 0px;
  animation: turns 3s linear infinite;
  animation-delay:5.5s;
}

@keyframes turns {
  100%,40%{
    -webkit-mask-position: 170px 100px;

  }
}
.imgs{

  height:250px;
  width:250px;
  position: absolute;
}


.image{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom:20px;
  z-index:10000;
  height: 250px;
  width:250px;
  animation:scaled 2s ease-out;

}
@keyframes scaled{
  0%{
    transform:scale(1.5) translateY(10vh);

  }
  80%,100%{
    transform:scale(1) translateY(0vh);
  }
}
.signup{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:100%;
  flex-direction: row;
  height:80px;
}

.flexed{
  display:flex;
  height:100vh;
  align-items:center;
  flex-direction:column;
}
.verbutton{
  height:100px;
  width:80%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction: row;

}
.clickver{
  height:50px;
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
  color:white;
  letter-spacing:2px;
  font-weight:700;
  background:#FFC700;
  margin:3px;
  text-align: center;
}
.resend{
    height:50px;
    display:inline-flex;
    align-items: center;
    border-radius:10px;
    color:white;
    width:45%;
    font-size:12px;
    margin:3px;
  }
.resendtext{
  color:grey;
  height:50px;
  text-align:left;
  display:flex;
  align-items:center;
}
.back{
  height:100px;
  display:flex;
  width:100%;
  align-items:center;
}
.picotp{
height:100px;
width:100px;
border-radius:50%;
background: #444444;
display:flex;
justify-content:center;
align-items:center;
margin:10px;
margin-top:60px;

}
.backicon{
  width:25px;
  height:25px;
  margin:15px;
  margin-top:20px;
  margin-right:0px;
  object-fit:cover;
  object-position:center;
}
.verify{
  display:flex;
justify-content:center;
align-items:center;
text-align:center;
height:100px;
}
.veri{
  font-size:40px;
  color:whitesmoke;
  font-weight:700;
}
.message{
  text-align:center;
  display:inline-block;
  justify-content:center;
  padding-top:20px;
  align-items:center;
  color:black;
  overflow-wrap: normal;
  font-size:15px;
  flex-direction:row;
  width:80%;
  
}
.verdetails{
  text-align:center;
  display:inline-block;
  justify-content:center;
  align-items:center;
  color:grey;
  overflow-wrap: normal;
  height:100px;
  font-size:15px;
  flex-direction:row;
  width:75%;
  
}
.onetime{
  font-weight:600;
  color:whitesmoke;
}
.pnum{
  font-weight: 600;
  color:rgb(41, 41, 41);
  padding-left: 4px;
  padding-right:4px;
  line-height: 3px;
}
.selector{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height:100px;
  align-items: center;
  color:black;
}
.left{
  height:50px;
  margin-right:5px;
  display:flex;
  display:none;
  justify-content:center;
  align-items:center;
  padding:10px;
  color:grey;
  border-radius: 5px;
  font-size:20px;
  border:1px solid rgb(194, 194, 194);
}
.right{
  border:1px solid rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.vcode{
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(65, 65, 65);
  text-align: center;
  height: 60px;
  font-size: 30px;
  font-weight:800;
}
.changenum{
  position: absolute;
  height: 100vh;
  width:100%;
  background:rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}
.phonebox{
  width:300px;
  border-radius: 10px;
  padding:10px;
  display: flex;
  background:whitesmoke;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fournumb{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;


}
.digits{
  border:3px solid#EDBC4A;
  border-radius:10px;
  margin:3px;
  
}
.otpnumb{
  border:1px solid transparent;
  outline:none;
  height:60px;
  border-radius:10px;
  display:flex;
  text-align:center;
  font-size:30px;
  justify-content:center;
  align-items:center;
  width:40px;
  color:white;

}
  .otpnumb::placeholder{
  color:rgba(169, 169, 169, 0.209);
  display:flex;
  justify-content:center;
  text-align:center;
  align-items:center;
  font-size:25px;
  font-weight:700;

}
.pagecontent{
  display: flex;
  position:absolute;
  top:0;
  flex-direction: column;
  align-items: center;
  place-items: center;
  min-width: 320px;
  left:0;
  min-height: 85vh;
  padding:0px;
  width:100%;
}
.topbar{
  height:60px;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:flex-end;
  width:100%;
  top:0;
}
.nextbar{
  height:70px;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
.frow,.srow,.trow,.ffrow,.fvrow{
  display:flex;
  justify-content: center;
  width:90%;
  margin-top:20px;
  border-radius: 10px;;
  align-items: center;
}
  .vidgame{
  width:48.5%;
  height:30px;
  margin-top:7px;
  margin-bottom:7px;
  z-index:3;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items: center;
  border-radius:10px;
}
.vidgame:first-child{
  background:rgb(163, 117, 255);
}
.comp{
  display:flex;
  width:100%;
  border-radius: 10px;;
  align-items: center;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  max-height: 500px;
  padding-bottom: 80px;
  overflow-y:scroll;
}

.fvrow{
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-top: 5px;
  max-height: 500px;
  overflow-y:scroll;
}
.gameitems{
  min-width:150px;
  border-radius:10px;
  margin-top:15px;
  display:flex;
  background: #313131;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.viditems{
  min-width:160px;
  border-radius:10px;
  margin-top:10px;
  display:flex;
  background: #313131;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.viditemschild{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:5px;
  padding-top:10px;
  justify-content: center;
}
.gameitemschild{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:5px;
  padding-top:5px;
  height:150px;
  justify-content: center;

}
.sendbtn{
  height:50px;
  width: 70%;
  border-radius: 10px;
  display: flex;
  background:#FFC700;
  justify-content: center;
  letter-spacing: 1px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.vidtop{
  display:block;
  width:70px;
  height:60px;
  border-radius:10px;
  object-fit: cover;
  object-position: center;
}
.gamevidtop{
  width:100%;
  height:65px;
  border-radius:10px;
  object-fit: cover;
  object-position: center;
}
.gametop{
  display:flex;
  width:130px;
  border-radius:10px;
  justify-content:center;
  align-items:center;
}
.welcome{
  height:120px;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  justify-content: center;
}
.earnedtoday{
  height:160px;
  width:calc(100% - 20px);
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:10px;
  border-radius: 20px;
  background:#1a1a1a;
  flex-direction: row;
}
.earnleft{
  display:flex;
  flex-direction: column;
  width:50%;
  position: relative;
  
}
.earntitle{
  font-size:25px;
  font-weight:600;
  text-align:left;
}
.progresscircled{
  font-size:35px;
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height:130px;
  width:130px;
  border-radius: 50%;
  transform:translate(10px,10px);
  z-index: 10;


}

.circled{
  font-size:35px;

}
.flexedgrid{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;

}
.datagrid{
  margin-top: 10px;
  border-radius: 20px;
  background:#1a1a1a;
  padding:20px;
  width:calc(42% - 20px);
  ;
}
.dgridtitle{
  font-size:11px;
}
.dgridelements{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background:#1a1a1a;

}
.dgridelement{
  display:flex;
  justify-content: center;
  align-items: center;
  height:60px;
  max-width:70%;


}
.ttviews{
  height:40px;
  width:40px;
  object-fit: contain;
  object-position: center;
}
.earnsub{
  font-size: 15px;
  margin-bottom: 10px;
  display:inline-flex;
  color:whitesmoke;

}
.startearn{
  height:30px;
  width:120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background:#e6b400;
  color:white;
  margin-top:10px;
  margin-bottom:10px;
}
.td{
  color:#FFC700;
  margin-left:4px;
  margin-right:4px;
  font-size:15px;
}
.hello{
  display:flex;
  justify-content: center;
  align-items:center;
  width:70%;
  flex-direction:column;


}
.hellotext{
  font-size:35px;
  font-weight:600;
  color:white;
  height:40px;
  display:flex;
  align-items: center;
  text-align: left;
  width:100%;
}
.homepagecontrol{
  display:flex;
  width:90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .reffirstboxtop{
  border-radius:30px;
  margin-top: 10px;
  width:calc(100%-20px);
  background: linear-gradient(107.68deg, #2C41FD 2.26%, #11C5FF 93.75%);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:20px;
 }
 .reffirst{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
 }
 .rfirstchild{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  height:120px;
  width:70%;
 }
 .rftext{
  color:white;
  display:inline-flex;
  padding-bottom:10px;
  width:100%;
 font-size: 24px;
 font-weight: 700;
 line-height:50.05px;
 text-align: left;


 }
 .rftext2{
  display:inline-block;
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.31px;
  text-align: left;


 }
 .rfirstchild2{
  display:flex;
  font-size:7px;
  width:30%;
  height:120px;
  justify-content:center;
 }
 .rfchildimg{
  width: 122px;
  height: 68px;
  top: 121px;
  left: 238px;
  gap: 0px;
  opacity: 0px;
  object-fit: cover;
  object-position: center;
 }
 .refthird{
 max-height:200px;
 display: flex;
 justify-content: center;
 overflow-y: scroll;
 align-items:center;
 padding:10px;
 width:100%;
 padding-bottom:100px;
 margin-top:10px;
 flex-direction:column;
 }
.friendbox{
  width:calc(100% - 30px);
  padding:15px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-radius:10px;
  background: #16161D;
  margin-top:15px;
}
.frienditem1{
  display:flex;
  align-items: center;
  justify-content:center;
  border-radius: 10px;
  width:20%;
  height:40px;
  background:rgb(62, 77, 117);


}
.item2f{
  color:#717171;
  font-size: 10px;
}
.frienditem2{
  display:flex;
  text-align:left;
  width:55%;
  color:#A7A8A9;
  padding:5px;
  flex-direction:column;
  height:50px;
  font-weight:600;
  font-size: 15px;


}
.frienditem3{
  display:flex;
  justify-content:center;
  text-align:center;
  color:white;
  font-weight: 100;
  padding-top:5px;
  border-radius:10px;
  background:#444444a7;
  font-size: 10px;
  padding:5px;
}
  
.strkimg{
  height:23px;
  width:23px;
  object-fit: cover;
  object-position: center;
}
.streak{
  position:absolute;
  margin-left: 20px;
  color:white;
  font-size: 13px;
}

.refimg{
  width:80px;
  height:50px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}


.refsec{
  margin-top:20px;
  color: #717171;
  font-size:12px;
  width: 100%;
  font-weight:600;
  text-align: left;
}
 .refcode{
  width:90%;
  display: flex;
  justify-content:space-around;
  align-items:center;
  background:#1a1a1a;
  width: 277px;
height: 51px;
border-radius:15px;


 }
 .copypngimg{
  width:30px;
  opacity:.8;
  height:30px;
  object-fit:cover;
  object-position:center;
 }

 .reflink1{
  color:#A7A8A9;
  font-weight:600;
  font-size:12px;
  display:flex;
  align-items: center;
  text-align:start;
  padding:0px;
  margin:0px;
 }
 .copypng{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
 }
 .reflink0{
  color:#717171;
  font-weight:600;
  font-size:9px;
  padding:0px;
  display:flex;
  margin:0px;
  height:15px;
  margin-top:3px;
  align-items: center;;


 }
.reflink{
  display:flex;
  flex-direction:column;
  width:60%;



}
.hellodate{
  height:20px;
  font-size: 12px;
  color:#444444;
  display: flex;
  align-items: center;
  text-align: left;
  width:100%;
}
.helloimg{
  display: flex;
  justify-content: center;
  align-items: center;
  height:115px;
  width:30%;
}
.shovel{
  width:110px;
  height:110px;
  object-fit: contain;
}

.play{
  width:100px;
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  margin-top:2px;
  background: linear-gradient(90deg, #A3208D 0%, #E7509B 98.5%) !important;

  
}

.vidtop2{
  display:flex;
  width:40px;
  align-items: center;
  justify-content: center;
  height:40px;
  border-radius:10px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 3px solid #FFC700;
}
.vidimg{
  height:15px;
  width:15px;
  background-blend-mode:screen;
  object-fit: cover;
  object-position: center;
}
.vidtext{
  display:flex;
  justify-content:flex-end;
  flex-direction: row;
  height:30px;
  text-align: center;
  align-items: flex-end;
}
.gametext{
  display:flex;
  justify-content:flex-end;
  flex-direction: row;
  height:30px;
  text-align: center;
  align-items: flex-end;
  margin-bottom:5px;
  margin-top:5px;
}
.vidtext1,.vidtext2{
  font-size:10px;
  display:flex;
  justify-content:center;
  align-items: center;
  

}
.vidtext1{
  color:#EDBC4A;
}
.small{
  width:16px;
  height:16px;
  object-fit: cover;
  object-position: center;

}
.ffrow{
position:relative;
margin-bottom:3px;
background: #313131;
border-radius:7px;



}
.srow{
  justify-content:space-between;
}
.combo{
  height:80px;
  width:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  background:rgb(44, 42, 42);
  border-radius: 10px;
  box-shadow:
   0px -2px 2px 0px #9747FF,
   0px 2px 2px 0px #9747FF;

}
.midcoin{
  height:40px;
  width:40px;
  object-position: center;
  object-fit: cover;
}
.money{
  font-size:40px;
  background: linear-gradient(162.36deg, #D7951B 27.86%, #FFD054 43.22%);
  font-weight:800;
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
}
.combotile{
  height:70%;
  width:80%;
  object-fit:cover;
  object-position:center;
  background:grey;
  border-radius: 10px;
  
}
.vid{
  font-weight:800;
  font-size: 12px;
  width:40%;
}
.dots{
  width:15%;
  font-weight:600;
  text-align:center;
  display:flex;
  font-size:40px;
  justify-content:flex-end;
  align-items:center;


}
.circles{
  background:rgba(255, 255, 255, 0.193);
  height:10px;
  width:10px;
  margin:3px;
  border-radius:50%;

}
.earimg{
width:20px;
height:20px;
align-self:center;

object-fit:cover;
object-position:center;
}
.wearn{
  text-align:center;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center
}
.price{
  width:37%;
  height:80%;
  margin:2px;
  border-radius:10px;
  display:flex;
  justify-content:center;
  font-size:12px;
  text-align:center;
  background: linear-gradient(94.25deg, #9747FF 30.21%, #CE8BE8 89.36%);
  font-weight:800;
}

.statsvg{
  mix-blend-mode:overlay;
}
.statpath1{
  fill:#26245061;
  
}
.statpath2{
  stroke: #262450;
  stroke-width: 5px;
}
.frow{
  height:40px;
  background: #313131;
  display:flex;
  justify-content:space-between;

}
.topimg{
  height:22px;
}
.topimgs{
  height:50px;
  width:50px;
  object-fit:cover;
  object-position: center;
}


.midimg{
  height:20px;
}
.coincentered{
width: 90%;
display:flex;
justify-content:space-around;
align-items:center;

}
.title{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:5px;
  width:40%;
  height:30px;
  flex-direction: row;
}
.profile{
  left:4px;
}
  .notice{
  right:4px;
  position: relative;
}
.progress{
  position: relative;
  height: 150px;
  width:150px;
  transform: rotate(270deg);

}
.cc{
  width:100%;
  height:100%;
  fill:none;
  stroke-width: 4;
  stroke:#444444;
  transform: translate(5px,5px);

  
}

.cc:nth-child(2){
  stroke:#FFC700;
  stroke-dasharray: 440px;
  stroke-dashoffset: calc(440px - (440 * var(--numb)) / 100);
}
.cclast{
  animation: animate2 2s ease-in-out forwards;
  -webkit-animation: animate2 2s ease-in-out forwards;
  -moz-animation: animate2 2s ease-in-out forwards;
  -o-animation: animate2 2s ease-in-out forwards;

}
@keyframes animate2 {
  0%{
    stroke-dashoffset: 440px;

  }
  100%{
    stroke-dashoffset: calc(440px - (440 * var(--numb)) / 100);

  }
  
}
@-webkit-keyframes animate2 {
  0%{
    -webkit-stroke-dashoffset: 440px;

  }
  100%{
    -webkit-stroke-dashoffset: calc(440px - (440 * var(--numb)) / 100);

  }
  
}
@-moz-keyframes animate2 {
  0%{
    -moz-stroke-dashoffset: 440px;

  }
  100%{
    -moz-stroke-dashoffset: calc(440px - (440 * var(--numb)) / 100);

  }
  
}
@-o-keyframes animate2 {
  0%{
    -o-stroke-dashoffset: 440px;

  }
  100%{
    -o-stroke-dashoffset: calc(440px - (440 * var(--numb)) / 100);

  }
  
}

.dot{
  position: absolute;
  inset:5px;
  border-radius: 50%;
  height:140px;
  width:140px;
  z-index: 2;

}
.dotlast{
  animation: animate 2s ease-in-out forwards;
  -webkit-animation: animate 2s ease-in-out forwards;
  -moz-animation: animate 2s ease-in-out forwards;
  -o-animation: animate 2s ease-in-out forwards;

}
@keyframes animate {
  0%{transform: rotate(0);}
  100%{transform: rotate(calc(3.6deg * var(--ang)));}
}

.dot::before{
content: '';
position: absolute;
top:-5px;
left:50%;
transform: translateX(-50%);
width:7px;
height:7px;
background:#1a1a1a;
border:3px solid #EDBC4A;
box-shadow: 
0px 0px 10px #EDBC4A,
0px 0px 10px #EDBC4A,
0 0 10px 1px rgb(255, 244, 213);
border-radius: 50%;
}
.notice::after{
content:"";
position:absolute;
padding:5px;
margin-left:-7px;
border-radius: 50%;
background:red;
z-index:2;


}
.ttext{
  font-size:20px;
  font-weight:700;
}
.toproamer{
  position:absolute;
  display:block;
  width:50%;
  left:0;
  margin-left:3px;
  border-radius:10px;
  transition:all .3s ease-in;
  height:80%;
  background: linear-gradient(94.25deg, #9747FF 30.21%, #CE8BE8 89.36%);
  transition:all .3s ease-in-out;

}

.gamecomp{
    display:flex;
    width:100%;
    height:280px;
    overflow:clip;
    top:0;
    background:rgb(33, 0, 30);
    padding:0px;
    margin:0px;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

.slideritems{
  display:flex;
  padding:0px;
  margin:0px;
  top:0;
  flex-direction:row;
  animation-delay:1s;
  animation: slides 10s ease-in-out infinite !important;

}

@keyframes slides{
  0%{
transform:translate(0%);
  }
  15%,25%{
    transform:translateX(-100%);

  }
  40%,50%{
    transform:translateX(-200%);

  }
  60%,75%{
    transform:translateX(-300%);

  }
  85%,100%{
    transform:translateX(-400%)
  }
 

}
.gameslider{
  width:100%;
  height:200px;
  display:flex;
  align-items:flex-start;
  justify-content: flex-start;
  padding:0px;
  margin:0px;
  top:0;
  border-radius:50px 50px 0px 0px;
  overflow:clip;
  align-items:center;
}
.slider{
  top:0;
  width:100%;
  object-fit:cover;
  object-position:top center;
}
.vidcomp{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-top:40px;

  margin:0px;
  width:100%;
}
.toproameractive{
  left:48%;
  transition:all .3s ease-in-out;
}
.gameactivated{
  background: linear-gradient(90deg, #A3208D 0%, #E7509B 98.5%) !important;
  transition:all .3s ease-in-out !important;


}
.topcoin{
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:10px;
  max-width:85%;
  height:55px;
  min-width:55px;
  background: linear-gradient(94.25deg, #9747FF 30.21%, #CE8BE8 89.36%);
  
}
.topcointxt{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight:600;
  padding-left:20px;
  padding-right: 10px;
  font-size:15px;
  text-align:center;
}
.topcoinimgbox{
  display:flex;
  width:40px
}
.ltopimg{
  height:30px;
  width:30px;
  margin-right:10px;
  object-fit: cover;
  object-position: center;
}
.topimga{
  height:35px;
  width:35px;
  object-fit: cover;
  object-position: center;
}
.roundedcontent{
  display:flex;
  flex-direction: column;
  overflow:clip;
  align-items:center;
  justify-content:center;
  margin-top:5px;
  border-top: 3px solid #EDBC4A;
  box-shadow: 1px -20px 25px 1px #F7C44F52;
  border-radius: 50px 50px 0px 0px;
  width:100%;

}
.navbar{
  position:fixed;
  z-index:100;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin:0;
  padding:0px;
  left:0;
  width:100%;
  bottom:0px;
}


.roamer{
  position:absolute;
    z-index:2;
  display:flex;
  padding:5.5%;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  transform:translateY(-75%) scale(1.1) ;
  left:7%;
  transition:all .3s ease-in-out;
}
.roamed{
  background: linear-gradient(94.25deg, #9747FF 30.21%, #CE8BE8 89.36%);
  transition:all .3s ease-in-out;

}

.navcontent{
bottom:0;
position: absolute;
left:0;
margin-bottom: -5%;
}
.naved{
  position: absolute;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  width:100%;
  bottom:0;
}

.activated{
  transform:translateY(-60%) scale(1.1) !important;
  opacity:1 !important;

}

.activated2{
  transform:scale(1) translateY(-1.6vh) !important;
  height:15px !important;
  font-size:13px !important;
  transition:all .3s ease-in-out !important;
}

.navtext{
  text-align:center;
  transition:all .3s ease-in-out;
  transform:scale(0);
  color:white;
}
.navitems{
  width:20%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navicon{
  z-index:2;
  display:flex;
  padding:12%;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  opacity:.2;
  transform: scale(1);
  transition:all .3s ease-in-out;
  background:rgba(128, 0, 128, 0);
}
.vernuminput::placeholder{
  padding-left:5px;
}
  .vernuminput{
  height:50px;
  width:150px;
  border-radius:10px;
  background:none;
  padding:10px;
  font-size:20px;
  outline:none;
  border:none;
  color:grey;
}
.imgicon{
  width:25px;
  height:25px;
  object-fit: cover;
  object-position: center;
}
.paths{
  fill: #232222;
  bottom:0;
  padding:0;
  object-position: cover;
  object-fit:cover;
  transition: all .3s ease-in-out;
  
}
.signuptext{
display: flex;
align-items: center;
justify-content: center;
color:gold;
height:40px;
width:90px;
text-align: center;
border-radius: 10px;
border:1px solid rgba(218, 165, 32, 0.2);
box-shadow:
 2px 2px 3px rgba(218, 165, 32, 0.485);
margin:10px;
}
.imgtext{
  text-align: center;
}
.input::placeholder{
  padding:10px;
  color:gold;
  font-size:20px;


}

  .input{
  outline:none;
  border:0px;
  width:250px;
  background:none;
}
.inputs{
  height:50px;
  padding:5px;
  width:275;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  border:1px solid rgb(242, 207, 4);
  margin-bottom:15px;
  color:white;
}
.font{
  display: flex;
  align-items: center;
  justify-content: center;
  width:50px;
  height:50px;
  border:0px;

}
.smallimage{
  width:20px;
}
.signinbox{
  width: 100%;
  height:70px;
  display:flex;
  align-items: center;
  justify-content: space-between;

}
.signin{
  background:rgb(229, 196, 6);
  border-radius: 10px;
  display: flex;
  margin:5px;
  align-items: center;
  justify-content: center;
  align-items: center;
  width:100px;
  height:40px;
  color:white;
}
.forget{
  margin:5px;
  font-style: italic;
  color:darkgray;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height:40px;
  padding-left:15px;
  padding-right:10px;
}

.gimg{
  width:70px;
}
fieldset{
  border:1px solid transparent;
border-top:2px solid white;
width:90%;


}
.or{
width:50px;
height:50px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color:white;

}
.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social{
  display: flex;
  justify-content: center;
  align-items: center;
  width:275px;
  height:60px;
  border-radius:10px;
  flex-direction: row;
background:rgba(255, 255, 255, 0.07);
border-radius: 10px;
color:gold;
margin-bottom:10px;
text-align: center;
}
.powered{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width:275px;
  margin-top:80px;
  height:40px;
  border-radius:10px;
border-radius: 10px;
color:darkgrey;
margin-bottom:20px;
text-align: center;
}