
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar{
  width:1px;
  fill:transparent;
  background:transparent;
}
.splashscreen{
  height:110vh;
  width:100%;
  top:0;
  margin-top: -10px;
  padding:0px;
  background:
  repeating-radial-gradient(#17191f,rgba(50,50,50,.99) 3em);
  background-size:1200px 1200px;
  z-index: -1;
  opacity:0;
  position:fixed;
  animation:fadeout 4.5s ease-out;
}
img,div,span,a{
  user-select: none;
 
}
.vanish{
  visibility:hidden !important;
}


@keyframes fadeout{
  0%,90%{
    display:flex;
    opacity:1;
    z-index:1000;

  }
  100%{
    z-index: -1;
    opacity:0
  }
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding:0px;
  background:black;

}
.myform::before{
  content:"";
  position:absolute;
  top:0;
  width: 100%;
  -webkit-aspect-ratio: 1/.85;
  -moz-aspect-ratio: 1/.85;
  -o-aspect-ratio: 1/.85;
  aspect-ratio: 1/.85;
  user-select:none;
  pointer-events:none;
  background: repeating-radial-gradient(#17191f,rgba(255,255,255,.15) 3em);
  background-size:1200px 1200px;
  background-attachment:fixed;
  border-radius: 0px 0px 30px 30px;
  border-bottom: 2px solid #EDBC4A;
  z-index:-1;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (min-width:1000px){
  .myform::before{
  height:fit-content !important;
  -webkit-aspect-ratio: 1/1;
  -moz-aspect-ratio: 1/1;
  -o-aspect-ratio: 1/1;
  aspect-ratio: 1/1;
  }
  .blured,.scores{
    backdrop-filter: blur(10rem) !important;
  }
.bluredafter{
  transform: scale(1.5);

}
.bluredbefore{
  transform: scale(3);


}

  .roamed{
    transform:translateY(-40%) scale(0.5) !important;
    filter:blur(1.7rem) !important;
  }
  .scores{
    -webkit-aspect-ratio: 1/.7 !important;
    -moz-aspect-ratio: 1/.7 !important;
    -o-aspect-ratio: 1/.7 !important;
    aspect-ratio: 1/.7 !important;
  }
  .refimg{
    height:60px !important;
  }
  .paths{
    background:none !important;
    opacity:.1 !important;
    fill:white !important;
  }
  .statpath2,.statpath1{
  fill:none !important;
  stroke:none !important;

  }
  .statcontent{
  flex-direction: row !important;
  margin-top: -100px !important;
  }
  
  .homepagecontrol{
    padding-bottom: 200px;
  }
  .activated{
    transform:translateY(-30%) scale(1.1) !important;
  }

  .navcontent{
    /* display:none; */
    position:absolute !important;
    transform: scaleY(0.35);
    bottom:0 !important;
    margin-bottom: -10% !important;
    backdrop-filter:blur(4rem);
  }
  .navicon{
    opacity:.9 !important;
    background:rgba(0, 0, 0, 0.03) !important;
    transform:translateY(20%) !important;


  }
  .earnleft:nth-child(1){
    padding-left:20px;
    padding-right:20px;
    width:calc(70% - 20px);

  }
  .earnleft:nth-child(2){
    width:calc(30% - 20px);

  }

}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.authpage{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
.myform{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.mask{
  filter:brightness(300%);
  -webkit-mask-image:repeating-linear-gradient(135deg,#0000 40%, #000 40%,#000 50%, #0000 5%, #0000 75%,#0000 100%);
  -webkit-mask-size:900 900;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: -170px 0px;
  animation: turns 3s linear infinite;
  animation-delay:5.5s;
}

@keyframes turns {
  100%,40%{
    -webkit-mask-position: 170px 100px;

  }
}
.imgs{

  height:250px;
  width:250px;
  position: absolute;
}


.image{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom:50px;
  z-index:10000;
  height: 250px;
  width:250px;
  animation:scaled .6s ease-out;

}
.signupimg{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom:50px;
  z-index:10000;
  height: 250px;
  width:250px;
}
@keyframes scaled{
  0%{
    transform:scale(1.5) translateY(10vh);

  }
  80%,100%{
    transform:scale(1) translateY(0vh);
  }
}
.signup{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:100%;
  flex-direction: row;
  height:80px;
}

.flexed{
  display:flex;
  height:100vh;
  align-items:center;
  flex-direction:column;
}
.verbutton{
  height:100px;
  width:80%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction: row;

}
.clickver{
  height:50px;
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
  color:white;
  letter-spacing:2px;
  font-weight:700;
  background:#FFC700;
  margin:3px;
  text-align: center;
}
.resend{
    height:50px;
    display:inline-flex;
    align-items: center;
    border-radius:10px;
    color:white;
    width:45%;
    background:rgba(255, 255, 255, 0.06);
    font-size:12px;
    margin:3px;
  }
.resendtext{
  color:grey;
  height:100%;
  text-align:left;
  display:flex;
  margin-left:3px;
  align-items:center;
}
.back{
  height:100px;
  display:flex;
  width:100%;
  align-items:center;
}
.back2{
  height:100px;
  display:flex;
  width:10%;
  align-items:center;
}
.picotp{
height:100px;
width:100px;
border-radius:50%;
background: #444444;
display:flex;
justify-content:center;
align-items:center;
margin:10px;
margin-top:60px;

}
.backicon{
  width:25px;
  height:25px;
  margin:15px;
  margin-right:0px;
  object-fit:cover;
  object-position:center;
}
.backicon3{
  width:25px;
  height:25px;
  object-fit:cover;
  object-position:center;
}
.phonechange{
  color:gold;
  font-size: 11px;
  text-align: left;
  padding-top:5px;
}
.verify{
  display:flex;
justify-content:center;
align-items:center;
text-align:center;
height:100px;
}
.veri{
  font-size:40px;
  color:whitesmoke;
  font-weight:700;
}
.message{
  text-align:center;
  display:inline-block;
  justify-content:center;
  padding-top:20px;
  align-items:center;
  color:black;
  overflow-wrap: normal;
  font-size:15px;
  flex-direction:row;
  width:80%;
  
}
.verdetails{
  text-align:center;
  display:inline-block;
  justify-content:center;
  align-items:center;
  color:grey;
  overflow-wrap: normal;
  height:100px;
  font-size:15px;
  flex-direction:row;
  width:75%;
  
}
.onetime{
  font-weight:600;
  color:whitesmoke;
}
.pnum{
  color:rgb(0, 0, 0);
  padding-left: 4px;
  font-size:16px;
  font-weight:600;
  margin-right:2px;
  margin-left:2px;
  border-radius:5px;
  padding-right:4px;
  line-height: 3px;
}
.selector{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height:100px;
  align-items: center;
  color:black;
}
.left{
  height:50px;
  margin-right:5px;
  display:flex;
  display:none;
  justify-content:center;
  align-items:center;
  padding:10px;
  color:grey;
  border-radius: 5px;
  font-size:20px;
  border:1px solid rgb(194, 194, 194);
}
.right{
  border:1px solid rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.vcode{
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(65, 65, 65);
  text-align: center;
  height: 60px;
  font-size: 30px;
  font-weight:800;
}
.changenum{
  position: absolute;
  height: 100vh;
  width:100%;
  background:rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}
.phonebox{
  width:300px;
  border-radius: 10px;
  padding:10px;
  display: flex;
  background:whitesmoke;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fournumb{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;


}
.digits{
  border:3px solid #EDBC4A;

  border-radius:10px;
  margin:3px;
  
}
.digits ~:focus-within{
  filter:drop-shadow( 0px 0px 25px rgb(255, 217, 0));

}
.cancel{
  background:none !important;
  border:1px solid grey !important;
  color:black !important;
}
  .otpnumb{
  border:1px solid transparent;
  outline:none;
  height:40px;
  border-radius:10px;
  display:flex;
  text-align:center;
  font-size:25px;
  justify-content:center;
  align-items:center;
  width:25px;
  color:white;

}
  .otpnumb::placeholder{
  color:rgba(169, 169, 169, 0.209);
  display:flex;
  justify-content:center;
  text-align:center;
  align-items:center;
  font-size:25px;
  font-weight:700;

}
.pagecontent{
  display: flex;
  position:absolute;
  top:0;
  flex-direction: column;
  align-items: center;
  place-items: center;
  min-width: 320px;
  left:0;
  min-height: 85vh;
  padding:0px;
  width:100%;
}
.topbar{
  height:60px;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:flex-end;
  width:100%;
  backdrop-filter:blur(3rem);

  top:0;
}
.blured{
  position:relative;
  top:0;
  width:100%;
  display:flex;
  justify-content: center;
  z-index:20000;
  flex-direction: column;
  backdrop-filter:blur(4rem);
}
.bluredafter{
  position:absolute;
  width:350px;
  height:300px;
  background:rgb(0, 26, 131);
  border-radius:50%;
  z-index:calc(20000 - 9);
  top:0;
  margin-top:-150px;
  margin-left:-150px;

}
.bluredbefore{
  position:absolute;
  width:150px;
  height:170px;
  background:rgba(255, 0, 187, 0.93);
  border-radius:50%;
  z-index:calc(20000 - 10);
  margin:40px;
  top:0;

}

.bluredafter2{
  position:absolute;
  width:350px;
  height:300px;
  background:rgb(0, 26, 131);
  border-radius:50%;
  z-index:calc(-9);
  top:0;
  margin-top:-150px;
  margin-left:-150px;

}
.bluredbefore2{
  position:absolute;
  width:150px;
  height:170px;
  background:rgba(255, 0, 187, 0.93);
  border-radius:50%;
  z-index:calc(-10);
  margin:40px;
  top:0;

}
.profilepage{
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  height:100vh;
  background:black;
  width:100%;
  justify-content:space-between;
  top:0;
  left:0;
}
.topbar2{
  height:60px;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:flex-end;
  width:100%;
  margin-top:30px;

}
.editimg{
  position:relative;
  width:100%;
  display:flex;
  justify-content: center;
  height:120px;
  align-items: center;
}
.userimg{
  width:100px;
  border-radius: 10px;
}
.camimg{
  position:absolute;
  background:white;
  border-radius: 50%;
  width:30px;
  bottom:0;
  margin-left:-20px;
}
.beforedetails{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fdetail{
  height:70px;
  display:flex;
  align-items: center;
  background:linear-gradient(45deg,rgba(255, 255, 255, 0.1),transparent,transparent);
  color:white;
  padding-left: 15px;
  font-weight: 800;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 15px;

}
.sdetail{
  display:flex;
  align-items: center;
  width:70%;
  font-size: 14px;
  font-weight:500;
  margin-bottom: 2px;
  color:white;
  text-align:left;
  padding-left: 20px;
  border-radius: 10px;
}
.pdetails{
  background:
  url(/src/assets/wave.png),
  linear-gradient(270deg,#cfac00 20.13%, #DB00FF 100%);
  background-position:210% 0%,center;
  background-repeat: no-repeat,repeat;
  background-size: 350px 250px,cover;
  width:95%;
  border-radius: 20px;
  padding-bottom: 50px;
  margin-top: 10px;

}
.nextbar{
  height:70px;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  backdrop-filter:blur(3rem);

  align-items: center;
}
.frow,.srow,.trow,.ffrow,.fvrow{
  display:flex;
  justify-content: center;
  width:90%;
  margin-top:3px;
  border-radius: 10px;
  background-position:left;
  align-items: center;

}
.trow2{
  position:absolute;
  bottom:0;
  display:flex;
  justify-content: center;
  width:90%;
  margin-top:5px;
  align-items: center;
  width:100%;
  background:rgba(0, 0, 0, 0.381);
  backdrop-filter: blur(4rem);
  z-index:200;
}
.loader{
  background-image:
  linear-gradient(
    90deg, rgba(255,255,255,.05),rgba(255,255,255,.14),rgba(255,255,255,.05)) !important;
  background-size:318px 120px !important;
  background-position:0 0;
  animation:bgload 1.3s linear  infinite !important;
  pointer-events:none !important;
}

@keyframes bgload{
  0%{
    background-position:0 0;
  }
100%{
  background-position:200% 0;

  }
}
.successmessage{
position:fixed;
top:50px;
background:#17191f;
display:inline-flex;
width:300px;
margin:auto;
justify-content: center;
align-items: center;
color:lightgrey;
font-size:15px;
border-radius:10px;
font-weight:600;
box-shadow:0px 0px 50px rgba(0, 0, 0, 0.909);
border:5px solid #232222;
height:40px;
z-index:20000;
animation:pop 2s ease-in-out forwards;
}
@keyframes pop{
  0%,100%{
    opacity:0;
    top:0px;

  }
  20%,80%{
    opacity:1;
    top:20px;


  }
}


.refloader{
  background-image:
  linear-gradient(
    90deg, rgba(255,255,255,.05),rgba(255,255,255,.14),rgba(255,255,255,.05)) !important;
  background-size:630px 120px !important;
  background-position:0 0;
  animation:bgload 1.3s linear  infinite !important;
  pointer-events:none !important;
}

@keyframes refbgload{
  0%{
    background-position:0 0;
  }
100%{
  background-position:200% 0;

  }
}
.vidplayer{
  position:fixed;
  height:100vh;
  width:100%;
  top:0;
  z-index:1000;
  background:black;
  transform:translateY(100%);
  animation:showvid .6s ease-in-out forwards;
}
.lighter{
  backdrop-filter:blur(.6rem);
  background:linear-gradient(rgba(200,200,200,.3),black 80%);
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  z-index:100000;
  padding:10px;
  width:calc(100% - 10px); 
  transform:translateY(100%);
  animation:showvid .6s ease-in-out forwards;
  animation-delay:1s;
}
.abs{
  position:absolute !important;
  top:0 !important;
  z-index: 20000;
  width:100%;
}
.abs2{
  position:fixed !important;
  top:0 !important;
  z-index: 20000;
  width:100%;
  overflow-y:scroll;
  height:100vh;
}
.videoframe{
  width:calc(100% - 10px);
  border-radius:20px;
  -webkit-aspect-ratio: 1/.8;
  -moz-aspect-ratio: 1/.8;
  -o-aspect-ratio: 1/.8;
  aspect-ratio: 1/.8;
  margin-top:-100px;
  border:2px solid white;
  background:black;
}
@keyframes showvid{
  0%{
    transform:translateY(100%);
  }
100%{
  transform:translateY(0%);
  }
}
  .vidgame{
  width:48.5%;
  height:30px;
  margin-top:7px;
  margin-bottom:7px;
  z-index:3;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items: center;
  border-radius:10px;
}
.vidgame:first-child{
  background:rgb(163, 117, 255);
}
.comp{
  display:flex;
  width:100%;
  border-radius: 10px;;
  align-items: center;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  max-height: 350px;
  padding-bottom: 80px;
  overflow-y:scroll;
}

.fvrow{
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-top: 5px;
  max-height: 500px;
  overflow-y:scroll;
}
.gameitems{
  min-width:150px;
  border-radius:10px;
  margin-top:15px;
  display:flex;
  background:#1a1a1a;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.viditems:active{
  opacity:.5

}
  .viditems{
  min-width:160px;
  border-radius:10px;
  margin-top:10px;
  display:flex;
  background:#1a1a1a;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.viditemschild{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:5px;
  padding-top:10px;
  justify-content: center;
}
.gameitemschild{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:5px;
  padding-top:5px;
  height:150px;
  justify-content: center;

}
.sendbtn{
  height:50px;
  width: 70%;
  border-radius: 10px;
  display: flex;
  background:#FFC700;
  border:1px solid #FFC700;
  justify-content: center;
  letter-spacing: 1px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.vidtop{
  display:block;
  width:70px;
  height:60px;
  border-radius:10px;
  object-fit: cover;
  object-position: center;
}
.gamevidtop{
  width:100%;
  height:65px;
  border-radius:10px;
  object-fit: cover;
  object-position: center;
}
.gametop{
  display:flex;
  width:130px;
  border-radius:10px;
  justify-content:center;
  align-items:center;
}
.welcome{
  height:120px;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  justify-content: center;
}
.earnedtoday{
  height:160px;
  width:calc(100% - 20px);
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:10px;
  border-radius: 20px;
  background:#1a1a1a;
  flex-direction: row;
}
.earnleft{
  display:flex;
  flex-direction: column;
  width:50%;
  position: relative;
  
}
.earntitle{
  font-size:25px;
  font-weight:600;
  text-align:left;
}
.progresscircled{
  font-size:35px;
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height:130px;
  width:130px;
  border-radius: 50%;
  transform:translate(10px,10px);
  z-index: 10;


}

.circled{
  font-size:35px;

}
.flexedgrid{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;

}
.datagrid{
  margin-top: 10px;
  border-radius: 20px;
  background:#1a1a1a;
  padding:20px;
  width:calc(42% - 20px);
  ;
}
.dgridtitle{
  font-size:11px;
}
.dgridelements{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background:#1a1a1a;

}
.dgridelement{
  display:flex;
  justify-content: center;
  align-items: center;
  height:60px;
  max-width:70%;


}
.ttviews{
  height:40px;
  width:40px;
  object-fit: contain;
  object-position: center;
}
.earnsub{
  font-size: 15px;
  margin-bottom: 10px;
  display:inline-flex;
  color:whitesmoke;

}
.earn2lost{
  background:#17191f !important;
}
.startearn2{
  height:55px;
  width:220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  background:linear-gradient(45deg,rgb(224, 209, 0) 20.13%, #DB00FF 100%);
  color:white;
  margin-top:20px;
  font-size: 20px;
  font-weight:800;
  box-shadow:0px 0px 50px black;

}
  .startearn{
    height:35px;
  width:120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  background:linear-gradient(45deg,rgb(224, 209, 0) 20.13%, #DB00FF 100%);
  color:white;
  margin-top:5px;
  text-transform: uppercase;
  font-size: 11px;;
  margin-bottom:10px;
  font-weight:700;
}
.td{
  color:#FFC700;
  margin-left:4px;
  margin-right:4px;
  font-size:15px;
}
.hello{
  display:flex;
  justify-content: center;
  align-items:center;
  width:70%;
  flex-direction:column;


}
.hellotext{
  font-size:25px;
  font-weight:600;
  color:white;
  height:40px;
  display:flex;
  align-items: center;
  text-align: left;
  width:100%;
}
.homepagecontrol{
  display:flex;
  width:90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .reffirstboxtop{
  border-radius:0px 20px 20px 20px;
  margin-top: 10px;
  background:
  linear-gradient(45deg,#ffd900, #DB00FF 100%) no-repeat,
  linear-gradient(90deg,rgba(0, 23, 39, 0.867), #00000095 100%) no-repeat,
  linear-gradient(90deg,rgba(0, 23, 39, 0.9), #dd00ff00 100%) no-repeat,
  linear-gradient(107.68deg, #2C41FD 2.26%, #11C5FF 93.75%);
  display:flex;
  background-size:50px 75px,53px 83px,cover,cover;
  justify-content: center;
  clip-path: polygon(15% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 14%, 0 35%);

  flex-direction: column;
  padding:20px;
 }
 .reffirst{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
 }
 .rfirstchild{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  height:120px;
  width:70%;
 }
 .rftext{
  color:transparent;
  display:inline-flex;
  padding-bottom:10px;
  width:100%;
 font-size: 24px;
 font-weight: 700;
 background:
 linear-gradient(45deg,#ffd900, #DB00FF 100%) no-repeat,
 linear-gradient(90deg,rgba(255, 255, 255, 0.848),white,white 100%) no-repeat;
 background-size: 32px 70px,cover;
 line-height:50.05px;
 -webkit-background-clip: text;
 text-align: center;
 padding-left: 25px;


 }
 .rftext2{
  display:inline-block;
  font-size: 11px;
  font-weight: 500;
  line-height: 14.31px;
  text-align: left;
  margin-top: 5px;
  padding-left: 20px;



 }
 .rfirstchild2{
  display:flex;
  font-size:7px;
  width:30%;
  height:120px;
  justify-content:center;
 }
 .rfchildimg{
  width: 122px;
  height: 68px;
  top: 121px;
  left: 238px;
  gap: 0px;
  opacity: 0px;
  object-fit: cover;
  object-position: center;
 }
 .notblured{
display:flex;
justify-content: center;
align-items: center;
width:100%;
 }
 .bottomprofile{
  display:flex;
  border-radius: 10px 10px 0px 0px;
  align-items: center;
  background: #181A20;
  margin-top: 10px;
  width:100%;
  height:50vh;
  flex-direction: column;
  padding-bottom: 50px;

 }
 .profileitems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width:90%;
  height:60px;
 }
 .profleft{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 }
 .profright{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height:100%;
  width:80%;
 }
 .ptextright{
  color:white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
 }
 .backicon2{
  width:15px;
  height:15px;
  margin-right: 10px;
  transform:rotate(180deg);
  object-fit:cover;
  object-position:center;
 }
 .cuteimg{
  width:50px;
  height:50px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
 }
 .cuteimg2{
  width:30px;
  height:30px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
 }
 .myprofile{
  height:60px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color:white;
 }
 .refthird{
 max-height:300px;
 display: flex;
 overflow-y: scroll;
 align-items:center;
 padding:10px;
 width:100%;
 padding-bottom:100px;
 margin-top:10px;
 flex-direction:column;
 }
.friendbox{
  width:calc(100% - 30px);
  padding:15px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-radius:10px;
  background: #16161D;
  margin-top:15px;
}
.frienditem1{
  display:flex;
  align-items: center;
  justify-content:center;
  width:20%;
  height:100%;
  border-right:1px solid rgb(81, 81, 81);
  padding-right:10px;


}
.item2f{
  color:#717171;
  font-size: 10px;
}
.frienditem2{
  display:flex;
  text-align:left;
  width:55%;
  color:#A7A8A9;
  padding:5px;
  flex-direction:column;
  height:50px;
  font-weight:600;
  font-size: 15px;


}
.frienditem3{
  display:flex;
  justify-content:center;
  text-align:center;
  color:transparent;
  font-weight: 600;
  color:#EDBC4A;
  padding-top:5px;
  border-radius:10px;
  background:#444444a7;
  font-size: 10px;
  padding:5px;
}
.userhomepic{
  position:fixed;
  z-index:-10;
  width:100%;
  top:0;
  pointer-events:none;

}
.headshot{
  width:100%;
  height:100vh;
  object-fit:cover;
  object-position:center;
  transition: all 1s ease-in-out;
  opacity:0;
}
.headshotlost{
  opacity:1 !important;
  transition: all 1s ease-in-out !important;



}

  
.strkimg{
  height:24px;
  width:24px;
  filter:
  drop-shadow(0px 0px .5px cyan)
  drop-shadow(0px 0px 10px cyan)
  drop-shadow(0px 0px 1px cyan);
  object-fit: cover;
  object-position: center;
}
.streak{
  position:absolute;
  margin-left: 20px;
  font-size: 13px;
}

.refimg{
  width:80px;
  height:50px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}


.refsec{
  margin-top:20px;
  color: #717171;
  font-size:12px;
  width: 100%;
  font-weight:600;
  text-align: left;
}
.marg{
  margin-top:30px;
  margin-bottom:20px;
}
.p{
  color:lightgrey;
  margin-top:15px;
  font-size:12px;
}
 .refcode{
  width:90%;
  display: flex;
  justify-content:space-around;
  align-items:center;
  background:#1a1a1a;
  width: 277px;
height: 51px;
border-radius:15px;


 }
 .copypngimg{
  width:30px;
  opacity:.8;
  height:30px;
  object-fit:cover;
  object-position:center;
 }

 .reflink1{
  color:#A7A8A9;
  font-weight:600;
  font-size:12px;
  display:flex;
  align-items: center;
  text-align:start;
  padding:0px;
  margin:0px;
 }
 .copypng{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
 }
 .reflink0{
  color:#717171;
  font-weight:600;
  font-size:9px;
  padding:0px;
  display:flex;
  margin:0px;
  height:15px;
  margin-top:3px;
  align-items: center;;


 }
.reflink{
  display:flex;
  flex-direction:column;
  width:60%;



}
.hellodate{
  height:20px;
  font-size: 12px;
  color:cyan;
  display: flex;
  align-items: center;
  font-weight:600;
  text-align: left;
  width:100%;
  text-shadow:0px 0px 10px black;
}
.logout{
  width:80%;
  border:1px solid whitesmoke;
  border-radius: 10px;
  display: flex;
   bottom:0;
   margin-top:3vh;
   justify-content: center;
  text-align: center;
  align-items: center;
  height:40px;
}
.helloimg{
  display: flex;
  justify-content: center;
  align-items: center;
  height:115px;
  width:30%;
}
.shovel{
  width:110px;
  height:110px;
  object-fit: contain;
  filter: 
   drop-shadow(0px 0px 2px #CE8BE8)
   drop-shadow(0px 0px 2px #CE8BE8)
   drop-shadow(0px 0px 25px #CE8BE8);

}

.play{
  width:100px;
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  margin-top:2px;
  background: linear-gradient(90deg, #A3208D 0%, #E7509B 98.5%) !important;

  
}

.vidtop2{
  display:flex;
  width:40px;
  align-items: center;
  justify-content: center;
  height:40px;
  border-radius:10px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 3px solid #FFC700;
}
.vidimg{
  height:15px;
  width:15px;
  background-blend-mode:screen;
  object-fit: cover;
  object-position: center;
}
.vidtext{
  display:flex;
  justify-content:flex-end;
  flex-direction: row;
  height:30px;
  text-align: center;
  align-items: flex-end;
}
.gametext{
  display:flex;
  justify-content:flex-end;
  flex-direction: row;
  height:30px;
  text-align: center;
  align-items: flex-end;
  margin-bottom:5px;
  margin-top:5px;
}
.vidtext1,.vidtext2{
  font-size:10px;
  display:flex;
  justify-content:center;
  align-items: center;
  

}
.vidtext1{
  color:#EDBC4A;
}
.small{
  width:16px;
  height:16px;
  object-fit: cover;
  object-position: center;

}
.ffrow{
position:relative;
margin-bottom:3px;
background: #1a1a1a;
border-radius:7px;



}
.srow{
  justify-content:space-between;
}
.combo{
  height:70px;
  width:105px;
  display:flex;
  justify-content: center;
  align-items: center;
  background:#1a1a1a;
  border-radius: 10px;
  box-shadow:
   0px -2px 2px 0px #ffd900,
   0px 2px 2px 0px #ffd900;

}
.midcoin{
  height:40px;
  width:40px;
  object-position: center;
  object-fit: cover;
}
.money{
  font-size:40px;
  background: linear-gradient(162.36deg, #D7951B 27.86%, #FFD054 43.22%);
  font-weight:800;
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
}
.combotile{
  height:70%;
  width:80%;
  object-fit:cover;
  object-position:center;
  background:grey;
  border-radius: 10px;
  
}
.vid{
  font-weight:800;
  font-size: 12px;
  width:40%;
}
.dots{
  width:15%;
  font-weight:600;
  text-align:center;
  display:flex;
  font-size:40px;
  justify-content:flex-end;
  align-items:center;


}
.circles{
  background:rgba(255, 255, 255, 0.193);
  height:10px;
  width:10px;
  margin:3px;
  border-radius:50%;

}
.earimg{
width:20px;
height:20px;
align-self:center;

object-fit:cover;
object-position:center;
}
.wearn{
  text-align:center;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center
}
.price{
  width:37%;
  height:80%;
  margin:2px;
  border-radius:10px;
  display:flex;
  justify-content:center;
  font-size:12px;
  text-align:center;
  background:
  url(/src/assets/wave.png),
  linear-gradient(45deg,gold, #DB00FF 100%);
  font-weight:800;
}

.statpagecontrol{
  position:relative;
  display:flex;
  width:100%;
  flex-direction: column;
  justify-content: space-between;
  padding:0px;
 }
 .statcontent{
   height:600px;
  width:100%;
  bottom:0;
  display:flex;
  justify-content:space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom:60px;
  z-index: 1;

 }
 .ntredfig{
  font-size: 20px;
 }
 .ntrend{
  width:100%;
  object-fit: cover;
  object-position:center;
 }

 .statvids{
   width: 337px;
 height: 155px;
display: flex;
align-items: center;
flex-direction: row;
justify-content:space-between;
border-radius: 12px;
 opacity: 0px;
 background: radial-gradient(84.28% 84.28% at 13.06% 61.85%, #531F96 0%, #7F4CC2 60.42%, #530EAD 89.28%, #6C18D9 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
 margin-bottom:30px;
margin-top:20px;
 
 }
 .statsurvey{
   width: 337px;
 height: 155px;
display: flex;
align-items: center;
flex-direction: row;
justify-content:space-between;
border-radius: 12px;
 opacity: 0px;
 background: radial-gradient(84.28% 84.28% at 13.06% 61.85%, #0B608F 0%, #4393BF 60.42%, #065A89 89.28%, #108ED4 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
 margin-bottom:10px;

 
 }
 .statboard{
  display:flex;
  justify-content:center;
  height:95%;
  width:50%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  
 }
 .statboarda,.statboardb{
  height:70%;
  width:90%;
  text-align:left;
 }
 .statboarda{
  display:flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 30px;
  text-align: left;
  width: 90%;

 }
 .statboardb{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 65px;
  text-align: left;
  width: 90%;
  color:transparent;
  background:linear-gradient(45deg,rgb(224, 209, 0) 20.13%, #DB00FF 100%);
  -webkit-background-clip: text;
  font-weight: 700;

 }
 .statgames{
   width: 337px;
 height: 155px;
 background: radial-gradient(84.28% 84.28% at 13.06% 61.85%, #04AA23 0%, #43D95E 60.42%, #03971E 89.28%, #0FD934 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
display: flex;
align-items: center;
flex-direction: row;
justify-content:space-between;
border-radius: 12px;
 opacity: 0px;
 margin-bottom:30px;

 
 }

.statsvg{
  position:absolute;
  top:0;
  width:100%;
  margin-top: 130px;
  padding:0px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.scores{
  position:absolute;
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  -webkit-aspect-ratio: 1/1;
  -moz-aspect-ratio: 1/1;
  -o-aspect-ratio: 1/1;
  aspect-ratio: 1/1;
  backdrop-filter: blur(4rem);
  color:white;
  z-index: -1;
}
.scorenum{
  font-size: 44px;
  font-weight: 700;
  color:white;
  background:
  linear-gradient(45deg,#ffd900, #DB00FF 100%) no-repeat,
  linear-gradient(90deg,rgba(255, 255, 255, 0.848),white,white 100%) no-repeat;
  line-height:60.05px;
  -webkit-background-clip: text;
    margin-top:100px;
 
}
.scoreboard{
  width:100%;
}
.statpath1{
  fill:#26245061;
  
}
.statpath2{
  stroke: #262450;
  stroke-width: 5px;
}
.frow{
  height:40px;
  background:#1a1a1a;
  display:flex;
  justify-content:space-between;

}
.topimg{
  height:22px;
}
.topimgs{
  height:50px;
  width:50px;
  object-fit:cover;
  object-position: center;
}


.midimg{
  height:20px;
}
.coincentered{
width: 90%;
display:flex;
justify-content:space-around;
align-items:center;

}
.title{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:5px;
  width:40%;
  height:30px;
  flex-direction: row;
}
.title2{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:5px;
  width:70%;
  height:100%;
}
.profile img{
  border-radius: 50%;
  border-radius: 50%;

}
  .profile{
  left:4px;
  -webkit-aspect-ratio: 1/1;
  -moz-aspect-ratio: 1/1;
  -o-aspect-ratio: 1/1;
  aspect-ratio: 1/1;

}
  .notice{
  right:4px;
  position: relative;
}
.notice2{
right:4px;
position: relative;
height:100%;
width:10%;

}

.progress{
  position: relative;
  height: 150px;
  width:150px;
  transform: rotate(270deg);

}
.cc{
  width:100%;
  height:100%;
  fill:none;
  stroke-width: 4;
  stroke:#444444;
  transform: translate(5px,5px);

  
}

.cc:nth-child(2){
  stroke:#FFC700;
  stroke-dasharray: 440px;
  stroke-dashoffset: calc(440px - (440 * var(--numb)) / 100);
}
.cclast{
  animation: animate2 2s ease-in-out forwards;

}
@keyframes animate2 {
  0%{
    stroke-dashoffset: 440px;

  }
  100%{
    stroke-dashoffset: calc(440px - (440 * var(--numb)) / 100);

  }
  
}


.dot{
  position: absolute;
  inset:5px;
  border-radius: 50%;
  height:140px;
  width:140px;
  z-index: 2;

}
.dotlast{
  animation: animate 2s ease-in-out forwards;

}

@keyframes animate {
  0%{transform: rotate(0);}
  100%{transform: rotate(calc(3.6deg * var(--ang)));}
}


.dot::before{
content: '';
position: absolute;
top:-5px;
left:50%;
transform: translateX(-50%);
width:7px;
height:7px;
background:#1a1a1a;
border:3px solid #EDBC4A;
border-radius: 50%;
}
.notice::after{
content:"";
position:absolute;
padding:4px;
margin-left:-7px;
border-radius: 50%;
background:red;
margin-top: 2px;
border:1px solid black;
z-index:2;


}
.notice2::after{
  content:"";
  position:absolute;
  padding:4px;
  margin-left:-7px;
  border-radius: 50%;
  background:red;
  margin-top: 2px;
  border:1px solid black;
  z-index:2;
  
  }
.ttext{
  font-size:20px;
  font-weight:700;
}
.ttext2{
  font-size:20px;
  font-weight:700;
  height:100%;
  width:300px;
}
.toproamer{
  position:absolute;
  display:block;
  width:50%;
  left:0;
  margin-left:3px;
  border-radius:10px;
  transition:all .3s ease-in;
  height:80%;
  background:linear-gradient(45deg,rgb(224, 209, 0) 20.13%, #DB00FF 100%);
  transition:all .3s ease-in-out;

}

.gamecomp{
    display:flex;
    position:relative;
    width:100%;
    height:210px;
    overflow:clip;
    top:0;
    background:#1a1a1a;
    padding:0px;
    margin:0px;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

.slideritems{
  display:flex;
  padding:0px;
  margin:0px;
  top:0;
  flex-direction:row;
  animation-delay:1s;
  animation: slides 30s ease-in-out infinite !important;

}

@keyframes slides{
  0%{
transform:translate(0%);
  }
  15%,25%{
    transform:translateX(-100%);

  }
  40%,50%{
    transform:translateX(-200%);

  }
  60%,75%{
    transform:translateX(-300%);

  }
  85%,100%{
    transform:translateX(-400%)
  }
 

}
.gameslider{
  width:100%;
  height:200px;
  display:flex;
  align-items:flex-start;
  justify-content: flex-start;
  padding:0px;
  margin:0px;
  top:0;
  border-radius:50px 50px 0px 0px;
  overflow:clip;
  align-items:center;
}
.slider{
  top:0;
  width:100%;
  object-fit:contain;
  object-position:center;
}
.vidcomp{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-top:30px;
  margin:0px;
  width:100%;
}
.toproameractive{
  left:48%;
  transition:all .3s ease-in-out;
}
.gameactivated{
  background:linear-gradient(45deg,#DB00FF  20.13%,rgb(224, 209, 0) 100%);
  transition:all .3s ease-in-out !important;


}
.topcoin{
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:10px;
  max-width:85%;
  height:50px;
  min-width:55px;
  background:
  url(/src/assets/wave.png),
  linear-gradient(45deg,gold, #DB00FF 100%);
  background-size:100% 100px,900px 200px;
  background-attachment: scroll,fixed;
  background-position: left bottom,center,center;
  background-repeat: no-repeat,repeat;
  
}
.topcointxt{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight:600;
  padding-left:20px;
  padding-right: 10px;
  font-size:15px;
  text-align:center;
}
.topcoinimgbox{
  display:flex;
  width:40px
}
.ltopimg{
  height:30px;
  width:30px;
  margin-right:10px;
  object-fit: cover;
  object-position: center;
}
.topimga{
  height:35px;
  width:35px;
  object-fit: cover;
  object-position: center;
}
.roundedcontent{
  display:flex;
  flex-direction: column;
  overflow:clip;
  align-items:center;
  justify-content:center;
  border-top: 3px solid #EDBC4A;
  box-shadow: 1px -20px 25px 1px #F7C44F52;
  border-radius: 50px 50px 0px 0px;
  backdrop-filter:blur(2rem);
  background:linear-gradient(black,transparent,black);
  width:100%;

}
.navbar{
  position:fixed;
  z-index:100;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin:0;
  padding:0px;
  left:0;
  width:100%;
  bottom:0px;
}


.roamer{
  position:absolute;
    z-index:2;
  display:flex;
  width:11%;
  -webkit-aspect-ratio: 1/1;
  -moz-aspect-ratio: 1/1;
  -o-aspect-ratio: 1/1;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  transform:translateY(-80%) scale(1.1) ;
  left:7%;
  transition:all .3s ease-in-out;
}
@property --ang{
  syntax: "<angle>";
  inherits: false;
  initial-value:0deg;

}
.roamed{
  transition:all .3s ease-in-out;
  background:conic-gradient(
    from 270deg,gold 0deg 45deg,rgb(255, 233, 105) 40deg 60deg, #e640ff 45deg 190deg,rgb(242, 159, 255) 290deg 360deg);
  box-shadow:0px 0px 50px black;
  filter:blur(.6rem);
}


.errorbox{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction:column;
 	opacity: 1;
	top:0;
	margin-top: 0;
  z-index:2000000;
  user-select: none;
  pointer-events: none;
	transform: translateY(0px);


}


	
.errors{
	display: flex;
	align-self: center;
	padding:15px;
	font-size: 12px;
	color:rgb(255, 204, 18);
	background:rgb(26, 32, 45);
  background:rgb(55, 55, 55);
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	border-radius: 10px;
	min-width: 500px;
}

.navcontent{
bottom:0;
position: absolute;
left:0;
margin-bottom: -7%;
}
.naved{
  position: absolute;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  width:100%;
  bottom:0;
}

.activated{
  transform:translateY(-60%) scale(1.1) !important;
  opacity:1 !important;
  filter:drop-shadow(0px 0px 1px black);

}

.activated2{
  transform:scale(1) translateY(-1.6vh) !important;
  height:15px !important;
  font-size:13px !important;
  color:gold !important;
  transition:all .3s ease-in-out !important;
}

.navtext{
  text-align:center;
  transition:all .3s ease-in-out;
  transform:scale(0);
}
.navitems{
  width:20%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navicon{
  z-index:2;
  display:flex;
  padding:12%;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  opacity:.2;
  transform: scale(1);
  transition:all .3s ease-in-out;
  background:rgba(128, 0, 128, 0);
}
.vernuminput::placeholder{
  padding-left:5px;
}
  .vernuminput{
  height:30px;
  width:150px;
  border-radius:10px;
  background:none;
  padding:10px;
  font-size:20px;
  outline:none;
  border:none;
  color:grey;
}
.imgicon{
  width:25px;
  height:25px;
  object-fit: cover;
  object-position: center;
}
.paths{
  fill: #232222;
  bottom:0;
  padding:0;
  object-position: cover;
  object-fit:cover;
  transition: all .3s ease-in-out;
}
.signuptext{
display: flex;
align-items: center;
justify-content: center;
color:white;
height:50px;
width:100px;
text-align: center;
background:rgba(250, 250, 252, 0.05);
border-radius: 20px;
margin:10px;
font-size: 12px;
animation:hide 6s linear forwards;
}
@keyframes hide {
  0%{
    visibility:hidden;

  }
  100%{
    visibility: visible;
  }
  
}
.imgtext{
  text-align: center;
}
.input::placeholder{
  padding:10px;
  color:rgba(230,240,253,.3);
  color:#EDBC4A;
  font-size:20px;


}

  .input{
  outline:none;
  border:0px;
  width:240px;
  height:100%;
  padding-left:10px;
  font-size:20px;
  background:none;
  border-radius:10px;
}
.inputs{
  height:50px;
  padding:5px;
  width:275;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  border:1px solid rgb(242, 207, 4);
  margin-bottom:15px;
  font-size:20px;
  color:white;
}
.signupbtn{
  height:50px;
  padding:5px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width:300px;
  border-radius: 10px;
  margin-bottom:15px;
  letter-spacing:1px;
  text-shadow:0px 0px 30px black;
  background:#D7951B;
  color:white;

}
.font{
  display: flex;
  align-items: center;
  justify-content: center;
  width:50px;
  height:50px;
  border:0px;

}
.smallimage{
  width:20px;
}
.copyimga{
  width:40px;
}
.signinbox{
  width: 100%;
  height:70px;
  display:flex;
  letter-spacing:1px;
  text-shadow:0px 0px 30px black;
  align-items: center;
  justify-content: space-between;

}
.signin{
  background:rgb(229, 196, 6);
  border-radius: 10px;
  display: flex;
  margin:5px;
  align-items: center;
  justify-content: center;
  align-items: center;
  width:100px;
  height:40px;
  color:white;
}
.forget{
  margin:5px;
  font-style: italic;
  color:darkgray;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height:40px;
  padding-left:15px;
  padding-right:10px;
}

.gimg{
  width:70px;
}
fieldset{
  border:1px solid transparent;
border-top:2px solid white;
width:90%;


}
.or{
width:50px;
height:50px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color:white;

}
.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social{
  display: flex;
  justify-content: center;
  align-items: center;
  width:275px;
  height:60px;
  border-radius:10px;
  flex-direction: row;
background:rgba(255, 255, 255, 0.07);
border-radius: 10px;
color:gold;
margin-bottom:10px;
text-align: center;
}
.powered{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width:275px;
  margin-top:80px;
  height:40px;
  border-radius:10px;
border-radius: 10px;
color:darkgrey;
margin-bottom:20px;
text-align: center;
}